<div class="container">
    <div>
        <h3>{{projectName}}</h3>
        <button class="btn btn-success">Apply</button>
    </div>
    <div>
        <p>{{projectDesc}}</p>
    </div>
    <div>
        <p>Organization: {{projectOrg}}</p>
        <p>Location: {{projectLocation}}</p>
        <p>Duration: {{projectDuration}}</p>
        <p>Stipend: {{projectStipend}}</p>
        <p>Vacancy: {{projectVacancy}}</p>
    </div>
    <div>
        <button class="btn">View Details</button>
    </div>
</div>