div p{
    margin-left: 50px;
}
button{
    margin-top: 50px;
    margin-left: 40%;
    background: #000;
}
h3{
    margin-bottom: 20px;
}
.profile-header{
    display: flex;
}
img{
    margin: 0;
    height: 100px;
    width: 100px;
}