<div class="container">
    <h2>Profile Details</h2>
    <div>
        <strong>Name</strong>
        <p>Emma Stone</p>
    </div>
    <div>
        <strong>Email</strong>
        <p>emma@gmail.com</p>
    </div>
    <div>
        <strong>Mobile</strong>
        <p>+918292927471</p>
    </div>
    <div>
        <strong>Address</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum modi odio suscipit soluta officiis doloribus eius similique, dolorem vitae veniam nesciunt placeat? Numquam fugit eos voluptatibus inventore, saepe expedita totam.</p>
    </div>
    <button class="btn" routerLink="/">Sign Out</button>
</div>