<div class="container">
    <h3>Profile Details</h3>
    <div class="profile-header">
        <div>
            <img src="../../../assets/profile.png" alt="profile">
        </div>
        <div>
            <div>
                <strong>Name</strong>
                <p>Emma Stone</p>
            </div>
            <div>
                <strong>Email</strong>
                <p>emma@gmail.com</p>
            </div>
            <div>
                <strong>Mobile</strong>
                <p>+918292927471</p>
            </div>
        </div>
    </div>
    <div>
        <strong>Address</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum modi odio suscipit soluta officiis doloribus eius similique, dolorem vitae veniam nesciunt placeat? Numquam fugit eos voluptatibus inventore, saepe expedita totam.</p>
    </div>
    <button class="btn" routerLink="/">Sign Out</button>
</div>