<div class="container">
    <div>
        <h3>{{project.projectName}}</h3>
        <button class="btn btn-success">Apply</button>
    </div>
    <div>
        <p>{{project.projectDesc}}</p>
    </div>
    <div>
        <p><strong>Organization: </strong> {{project.projectOrg}}</p>
        <p><strong>Location: </strong> {{project.projectLocation}}</p>
        <p><strong>Duration: </strong> {{project.projectDuration}} Months</p>
    </div>
    <div>
        <p><strong>Start Date: </strong> 01/01/2024</p>
        <p><strong>Stipend: </strong> {{project.projectStipend}}</p>
        <p><strong>Vacancy: </strong> {{project.projectVacancy}}</p>
    </div>
    <div>
        <button class="btn">View Details</button>
    </div>
</div>