<div class="container">
    <h3>Add Project</h3>
    <form class="form-control">
        <label for="project-name">Title:</label>
        <input type="text" name="project-name" required />

        <label for="project-org">Organization:</label>
        <input type="text" name="project-org" required />

        <label for="project-location">Location:</label>
        <input type="text" name="project-location" required />

        <label for="project-duration">Duration:</label>
        <input type="number" name="project-duration" required />

        <label for="project-start-date">Project Start Date:</label>
        <input type="date" name="project-start-date" required />

        <label for="project-stipend">Stipend:</label>
        <input type="number" name="project-stipend" required />

        <label for="project-vacancy">Vacancy:</label>
        <input type="number" name="project-vacancy" required />

        <label for="project-desc">Description:</label>
        <textarea name="project-desc" cols="20" rows="10"></textarea>

        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>