.footer{
    height: 150px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 180px;
}
.footer div:nth-child(1){
    margin-left: 100px;
}
.footer div:nth-child(2){
    margin-left: 100px;
}
.footer div{
    width: 50%;
    margin: 10px 20px;
}
h3{
    margin-bottom: 20px;
}
p{
    font-size: 14px;
}